@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --main-yellow : #FACC15;
    --bg-light: #FFF9E6;           
    --hover-yellow: #EAB308;
    --text-dark: #333333;        
    --card-white: #FFFFFF;      
    --card-hover: #F4F4F4;          
}

body {
  background-color: var(--bg-light);
  color: var(--text-color);
}
